body {
  background-color: burlywood;
  background-image: url(eyes.png);
  background-size: 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;

}
h1 {
  color: white;
  font-family: georgia;
  font-size: 43pt;
  text-align: left;

}
p  {
  color: white;
  font-family: arial;
  font-size: 100%;
  border: 4px solid yellow;
  padding: 10px;
   margin-right: 345px;
   margin-left: 345px;
  text-align: center;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 300;
  height: 300;
}
h2 {
  color: white;
  font-family: georgia;
  font-size: 20pt;
  text-align: left;

}
h3 {
  color: white;
  font-family: georgia;
  font-size: 20pt;
  text-align: left;

}
h4 {
  color: white;
  font-family: georgia;
  font-size: 12pt;
  text-align: left;
}
  a
  {
      background-color: black;
      color: yellow;
  }

  a:hover
  {
      background-color: yellow;
      color: black;
  }
