p  {
  color: white;
  font-family: arial;
  font-size: 100%;
  border: 2px solid black;
  padding: 10px;;
   margin-right: 350px;
   margin-left: 350px;
  text-align: center;
}
h1 {
  color: white;
  font-family: georgia;
  font-size: 20pt;
  text-align: center;
}
body {
  background-color: DarkSeaGreen;
  background-image: url(light.gif);
  background-size: 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: white
}
